body {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    border: red 1px solid;
    flex-direction: space-between;
}

header {
    border: red 1px solid;
}

h1,
h2 {
    text-align: center;
    border: red 1px solid;
}

h4 {
    text-align: right;
    margin-right: 20px;
}

nav {
    flex-flow: row wrap;
    display: inline-block;
    flex-direction: flex-start;
    margin-left: 20px;
}

section {
    border: red 1px solid;
    flex-flow: column wrap;
    flex-shrink: 1;
    /* margin: 50px 50px 50px 50px; */
    text-align: center;
}

p {
   text-align: center;
   /* margin: 80px; */
}

button {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    align-items: center;
}

.start {
    padding: 10px;
}

.container {
    margin: 50px;
}

footer {
    border: red 1px solid;
}